# Handle line endings automatically for files detected as text
* text=auto eol=lf

# Explicitly set line endings for specific file types
*.js text eol=lf
*.ts text eol=lf
*.yml text eol=lf
*.json text eol=lf
*.sh text eol=lf
*.md text eol=lf

# Ensure binary files are not touched
*.png binary
*.jpg binary
*.gif binary